
table.wfTable {
	border-spacing: ;
	/*border-style: outset;*/
	border-color: #888;
	border-collapse: collapse;
	background-color: white;
}

table.wfTable th {
	padding: 4px;
	border-width: 1px;
	border-style: inset;
	border-color: #0092ff;
	border-top: 1px solid #888;
	background-color: #80ceff;
	font-weight: normal;
	cursor: pointer;
}
table.wfTable th.first {
	border-left: 1px solid #888;
}
table.wfTable th.last {
	border-right: 1px solid #888;
}
table.wfTable th.active {
	background-color: #fcff9c;
	border-bottom: 1px solid #a19444;
	font-weight: bold;
	color: #000;
}
table.wfTable td {
	padding: 4px;
	border-width: 1px;
	border-style: inset;
	border-color: #CCC;
	background-color: #FFF;
	color: #000;
}
table.wfTable td.first {
	border-left: 1px solid #888;
}
table.wfTable td.last {
	border-right: 1px solid #888;
}
table.wfTable td.grouped {
	font-style: italic;
	color: #a0a0a0;
}
table.wfTable td.grouped img {
	opacity: 0.6;
}
table.wfTable td.orange {
	background-color:#FCAB46;
}
table.wfTable td.red {
	background-color:#FC5446;
}
table.wfTable td.green {
	background-color:#96D754;
}
table.wfTable td.grey {
	background-color:#717171;
}

table.wfTable td.Total {
	color: #555;
	font-weight: bold;
	background-color: #F2F2F2;
}
